<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Paises</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header th:fragment="header">
            <h1>Paises</h1>
            <p>Practica de Examen</p>
        </header>
        <footer th:fragment="footer">
            <p>Trabajo por el Grupo#8</p>
            <p>Calderón Mora Eduardo</p>
            <p>Salgado Navarro Leidy Vanessa</p>
            <p>Ureña Piedra Dylan</p>
        </footer>
    </body>
</html>
